node_modules/

# Arquivos de desenvolvimento gerados automaticamente pelo navegador (Vite)
.vite/

# Arquivos de configuração do Node.js
package-lock.json

# Arquivos de ambiente (se houver)
.env

# Arquivos de log (se houver)
*.log

# Arquivos de build (se houver)
dist/
build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

.npm-cache/